<Directory /var/www/html>
    Options Indexes FollowSymLinks
    Require all granted
    AllowOverride All
</Directory>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(images|photos|css|js|robots\.txt)
RewriteRule ^(.+)$ index.php/$1 [NC,L]